<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARbNzPMzVh6Lp8EVgKbDQNVjMj0bsKe6I</string>
	<key>GCM_SENDER_ID</key>
	<string>1024196366888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.neurs.e14Client</string>
	<key>PROJECT_ID</key>
	<string>e14f-9d8c8</string>
	<key>STORAGE_BUCKET</key>
	<string>e14f-9d8c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024196366888:ios:71d0caa4f6bcd5a6581b1d</string>
</dict>
</plist>